*~
*.class
scala/target/
scala/project/
scala/.bsp/
*.cache
*.pdf
*.aux
*.log
*.bbl
*.blg
*.toc
.DS_Store
*.gz
a.out
x.log
versionDONOTERASEDONOTCOMMIT.tex
setup-git
image.png
*.dvi
*.fdb_latexmk
*.fls
